<a href="https://colab.research.google.com/github/nsriniva/DS-Unit-1-Build/blob/master/DS_Unit_1_BuildProject_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

$\text{Research Question and Methodology}$ 

To determine the effect of dimensionality reduction on the accuracy of linear
regression and<br> kmeans clustering.

To this end we will create a new $boolean$ valued $popular$ column with value set to $1$ if the <br>corresponding $shares$ $>=1400$ and $0$ otherwise. This 
column will be used to test the<br> accuracy of clustering as well as for one of
the dimensionality reduction approaches.

The accuracy of linear regression and kmeans clustering will be computed for the
following<br> datasets:


1.   The original dataset, excluding the 2 non-predictive columns($url$, $timedelta$) and <br>the 2 target columns($shares$, $popular$) 
2.   Merge(and delete) the $\text{weekday_is_*}$/$\text{data_channel_is_*}$ columns into a single <br>$weekday$/$channel$ numerical attribute valued column.
3.   Split the dataset from 2 based on the value of the $popularity$ field and
use 2 sample <br>t-tests to determine useful attributes and eliminate useless attributes.
4.   New dataset created with $\text{Principal Components}$ on dataset 3

In [83]:
from math import isclose
import zipfile 
from urllib.request import urlopen
import io

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from scipy import stats

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.linear_model import LinearRegression

# Uploaded 
# https://archive.ics.uci.edu/ml/machine-learning-databases/00332/OnlineNewsPopularity.zip 
# to my github repo  from 
# https://archive.ics.uci.edu/ml/datasets/Online+News+Popularity

onp_url = 'https://github.com/nsriniva/DS-Unit-1-Build/blob/master/OnlineNewsPopularity.zip?raw=true'

# Open the zip file
zfile = urlopen(onp_url)

# Create an IO stream
zfile_mem = io.BytesIO(zfile.read())

# Extract data file from archive and load into dataframe
# The xip archive contains the data file 
# OnlineNewsPopularity/OnlineNewsPopularity.csv 
# and the info file 
# OnlineNewsPopularity/OnlineNewsPopularity.names.
# Use the zipfile package to open the archive and read the data file
with zipfile.ZipFile(zfile_mem) as zf:
  with zf.open('OnlineNewsPopularity/OnlineNewsPopularity.csv') as f:
    onp_df = pd.read_csv(f)

In [84]:
null_values = onp_df.isna().sum().sum()

print(f"There are {['','no'][int(null_values==0)]} invalid values in the dataset!")

# Clean up the column names by removing the leading whitespace
column_names = (x.strip() for x in onp_df.columns)
onp_df.columns = list(column_names)

# Remove both non-predictive attributes
onp_predictive_df = onp_df.drop(columns=['url', 'timedelta'])

# Drop the target/goal attribute
onp_predictive_df = onp_predictive_df.drop(columns=['shares'])
display(onp_predictive_df.head(), onp_predictive_df.shape)

There are no invalid values in the dataset!

   n_tokens_title  ...  abs_title_sentiment_polarity
0            12.0  ...                      0.187500
1             9.0  ...                      0.000000
2             9.0  ...                      0.000000
3             9.0  ...                      0.000000
4            13.0  ...                      0.136364

[5 rows x 58 columns]

(39644, 58)

In [85]:
# Combine all data_channel_is_*/weekday_is_* columns into one single categorical 
# column 'data_channel'/'weekday'

# First, identify all the data_channel_is_*/weekday_is_* columns
data_channel_columns = list(filter(lambda x: x.startswith('data_channel_is_'), onp_df.columns))
weekday_columns = list(filter(lambda x: x.startswith('weekday_is_'), onp_df.columns))

# Compute a mapping between the data channel/weekday name and an integer
# value i.e. 'lifestyle':1/'monday':1, ... 
dcm = {}
wm = {}
prel = len('data_channel_is_')
for idx,name in enumerate(data_channel_columns):
  dcm[name[prel:]] = idx+1
prel = len('weekday_is_')
for idx,name in enumerate(weekday_columns):
  wm[name[prel:]] = idx+1

# mf(u, args) => args if u is True and 0 otherwise.
mf = lambda u,args: [0,args][int(u)]

# This function adds a new column named new_col with the information
# from all the columns prefixed with new_col+'_is_' and then returns a
# dataframe with all them dropped.
def mapper_func(df, new_col, name_dict):
  name_list = list(name_dict.items())
  first = name_list[0]
  df[new_col] = df[new_col+'_is_'+first[0]].apply(mf, args=(name_dict[first[0]],))
  for name,_ in name_list[1:]:
    df[new_col] = df[new_col] + df[new_col+'_is_'+name].apply(mf, args=(name_dict[name],))
  return df.drop(columns=[ new_col+'_is_'+name for name,_ in name_list])

# Combing all data_channel_is_* columns into one single categorical column
# data_channel - drop all the original data_channel_is_* columns
onp_merged_df = mapper_func(onp_predictive_df, 'data_channel', dcm)

# Combing all weekday_is_* columns into one single categorical column
# weekday - drop all the original weekday_is_* columns
onp_merged_df = mapper_func(onp_merged_df, 'weekday', wm)

# Drop the is_weekend column because it contains redundant information.
onp_merged_df = onp_merged_df.drop(columns=['is_weekend'])

display(onp_merged_df.head(), onp_merged_df.shape)

   n_tokens_title  n_tokens_content  ...  data_channel  weekday
0            12.0             219.0  ...             2        1
1             9.0             255.0  ...             3        1
2             9.0             211.0  ...             3        1
3             9.0             531.0  ...             2        1
4            13.0            1072.0  ...             5        1

[5 rows x 46 columns]

(39644, 46)

In [86]:
# We now add a new binary valued column popular, with each row having a value
# of 1, if the corresponding shares value >=1400 and 0 otherwise.
onp_df['popular'] = onp_df.shares >= 1400
onp_df.popular.value_counts()

True     21154
False    18490
Name: popular, dtype: int64

In [87]:
grouped = onp_merged_df.groupby(onp_df.popular)

pop0_df = grouped.get_group(0)

pop1_df = grouped.get_group(1)

display(pop0_df.head(), pop0_df.shape)

display(pop1_df.head(), pop1_df.shape)

   n_tokens_title  n_tokens_content  ...  data_channel  weekday
0            12.0             219.0  ...             2        1
1             9.0             255.0  ...             3        1
3             9.0             531.0  ...             2        1
4            13.0            1072.0  ...             5        1
5            10.0             370.0  ...             5        1

[5 rows x 46 columns]

(18490, 46)

    n_tokens_title  n_tokens_content  ...  data_channel  weekday
2              9.0             211.0  ...             3        1
8             11.0              97.0  ...             5        1
10             9.0            1248.0  ...             6        1
11            10.0             187.0  ...             1        1
13             9.0             285.0  ...             0        1

[5 rows x 46 columns]

(21154, 46)

In [88]:
# We run 2 sample t-tests for each attribute between the popular and not popular
# sites to determine the most influential attributes.

# We use a confidence level of 99% = 0.99
# => pvalue = 1 - 0.99 = 0.01

# If the ttest for an issue returns a pvalue < 0.01, then we can reject the 
# Null hypothesis i.e. We can say, with a 99% confidence level, that the 
# attribute has an effect on the popularity of the web site.


issues_diff = []
issues_sim = []
issues_tossup = []

for issue in pop1_df.columns:
  if issue == 'popular':
    continue
  res = stats.ttest_ind(pop1_df[issue], pop0_df[issue])
  if res.pvalue < 0.01:
    issues_diff.append(issue)
  elif res.pvalue > 0.1:
    issues_sim.append(issue)
  else:
    issues_tossup.append(issue)

display(issues_tossup)

if len(issues_diff):
  # These issues have a pvalue < 0.01 i.e. the Null hypothesis can
  # be rejected and they have an effect on the popularity of the 
  # article.
  print('The following attributes do impact popularity:')
  display(issues_diff)

if len(issues_sim) > 0:
  # These issues have a pvalue > 0.1 i.e. the Null hypothesis cannot be 
  # rejected and the difference is not significant at the 90% level.
  print('The following attributes do not impact popularity:')
  display(issues_sim)

[]

The following attributes do impact popularity:

['n_tokens_title',
 'n_tokens_content',
 'num_hrefs',
 'num_self_hrefs',
 'num_imgs',
 'average_token_length',
 'num_keywords',
 'kw_min_min',
 'kw_max_min',
 'kw_avg_min',
 'kw_max_max',
 'kw_avg_max',
 'kw_min_avg',
 'kw_max_avg',
 'kw_avg_avg',
 'self_reference_min_shares',
 'self_reference_max_shares',
 'self_reference_avg_sharess',
 'LDA_00',
 'LDA_01',
 'LDA_02',
 'LDA_03',
 'LDA_04',
 'global_subjectivity',
 'global_sentiment_polarity',
 'global_rate_positive_words',
 'global_rate_negative_words',
 'rate_positive_words',
 'rate_negative_words',
 'avg_positive_polarity',
 'min_positive_polarity',
 'max_positive_polarity',
 'title_subjectivity',
 'title_sentiment_polarity',
 'abs_title_sentiment_polarity',
 'data_channel',
 'weekday']

The following attributes do not impact popularity:

['n_unique_tokens',
 'n_non_stop_words',
 'n_non_stop_unique_tokens',
 'num_videos',
 'kw_min_max',
 'avg_negative_polarity',
 'min_negative_polarity',
 'max_negative_polarity',
 'abs_title_subjectivity']

In [89]:
onp_relevant_df = onp_merged_df[issues_diff]
display(onp_relevant_df.head(), onp_relevant_df.shape)

   n_tokens_title  n_tokens_content  ...  data_channel  weekday
0            12.0             219.0  ...             2        1
1             9.0             255.0  ...             3        1
2             9.0             211.0  ...             3        1
3             9.0             531.0  ...             2        1
4            13.0            1072.0  ...             5        1

[5 rows x 37 columns]

(39644, 37)

In [116]:
#Let's try some linear regression
def linear_regression(df, outliers= None):
  if outliers is None:
    X = df.values 
    Y = onp_df.shares.values.reshape(-1,1)
  else:
    X = df.drop(outliers).reindex().values
    Y = onp_df.drop(outliers).reindex().shares.values.reshape(-1,1)

  lr = LinearRegression()
  lr.fit(X,Y)
  Yc = lr.predict(X)

  error = Y-Yc

  num = len(Y)
  print(num)
  # Mean absolute error
  mae = np.abs(error).sum()/num
  # Mean square error
  mse = np.linalg.norm(error)/num**0.5

  return mae, mse

In [117]:
 error_predictive = linear_regression(onp_predictive_df)

 error_merged = linear_regression(onp_merged_df)

 error_relevant = linear_regression(onp_relevant_df)

 display(error_predictive, error_merged, error_relevant)

39644
39644
39644

(3053.6804051554386, 11491.736924948344)

(3066.557191545978, 11497.786890788406)

(3061.606582433123, 11501.179446881786)

In [118]:
def get_outliers():
  z = np.abs(stats.zscore(onp_df.shares))
  return np.where(z>2)[0]

def remove_outliers(df):
  return df.drop(get_outliers()).reindex()

outliers = get_outliers()

error_predictive = linear_regression(onp_predictive_df, outliers)

error_merged = linear_regression(onp_merged_df, outliers)

error_relevant = linear_regression(onp_relevant_df, outliers)

display(error_predictive, error_merged, error_relevant)

39130
39130
39130

(1883.4899808285984, 3237.6474519142016)

(1897.9949689527855, 3248.0523886822843)

(1898.560512119932, 3249.184421908433)