<a href="https://colab.research.google.com/github/nsriniva/DS-Unit-1-Build/blob/master/DS_Unit_1_BuildProject_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
from math import isclose
import zipfile 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from scipy import stats

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans


# Uploaded 
# https://archive.ics.uci.edu/ml/machine-learning-databases/00332/OnlineNewsPopularity.zip 
# to Google Drive from 
# https://archive.ics.uci.edu/ml/datasets/Online+News+Popularity

# Extract data file from archive and load into dataframe
# The xip archive contains the data file 
# OnlineNewsPopularity/OnlineNewsPopularity.csv 
# and the info file 
# OnlineNewsPopularity/OnlineNewsPopularity.names.
# My Google Drive is mounted at /content/drive/My Drive
zfile = '/content/drive/My Drive/OnlineNewsPopularity.zip'
# Use the zipfile package to open the archive and read the data file
with zipfile.ZipFile(zfile) as zf:
  with zf.open('OnlineNewsPopularity/OnlineNewsPopularity.csv') as f:
    onp_df = pd.read_csv(f)

In [18]:
#display(onp_df.shape, onp_df.head())

null_values = onp_df.isna().sum().sum()

print(f"There are {['','no'][null_values==0]} invalid values in the dataset!")

column_names = (x.strip() for x in onp_df.columns)

onp_df.columns = list(column_names)

display(onp_df.head(), onp_df.shape)

#display(list(onp_df.columns))

There are no invalid values in the dataset!

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: In future, it will be an error for 'np.bool_' scalars to be interpreted as an index
  """

                                                 url  ...  shares
0  http://mashable.com/2013/01/07/amazon-instant-...  ...     593
1  http://mashable.com/2013/01/07/ap-samsung-spon...  ...     711
2  http://mashable.com/2013/01/07/apple-40-billio...  ...    1500
3  http://mashable.com/2013/01/07/astronaut-notre...  ...    1200
4   http://mashable.com/2013/01/07/att-u-verse-apps/  ...     505

[5 rows x 61 columns]

(39644, 61)

In [19]:

# Combine all data_channel_is_*/weekday_is_* columns into one single categorical 
# column 'data_channel'/'weekday'

# First, identify all the data_channel_is_*/weekday_is_* columns
data_channel_columns = list(filter(lambda x: x.startswith('data_channel_is_'), onp_df.columns))
weekday_columns = list(filter(lambda x: x.startswith('weekday_is_'), onp_df.columns))

display(data_channel_columns)
display(weekday_columns)

['data_channel_is_lifestyle',
 'data_channel_is_entertainment',
 'data_channel_is_bus',
 'data_channel_is_socmed',
 'data_channel_is_tech',
 'data_channel_is_world']

['weekday_is_monday',
 'weekday_is_tuesday',
 'weekday_is_wednesday',
 'weekday_is_thursday',
 'weekday_is_friday',
 'weekday_is_saturday',
 'weekday_is_sunday']

In [20]:
# Compute a mapping between the data channel/weekday name and an integer
# value i.e. 'lifestyle':1/'monday':1, ... 
dcm = {}
wm = {}

prel = len('data_channel_is_')
for idx,name in enumerate(data_channel_columns):
  dcm[name[prel:]] = idx+1

prel = len('weekday_is_')
for idx,name in enumerate(weekday_columns):
  wm[name[prel:]] = idx+1

#display(dcm)
#display(wm)

mf = lambda u,args: [0,args][int(u)]

# This function adds a new column named new_col with the information
# from all the columns prefixed with new_col+'_is_' and then returns a
# dataframe with all them dropped.
def mapper_func(df, new_col, name_dict):

  name_list = list(name_dict.items())

  first = name_list[0]

  df[new_col] = df[new_col+'_is_'+first[0]].apply(mf, args=(name_dict[first[0]],))

  for name,_ in name_list[1:]:
    df[new_col] = df[new_col] + df[new_col+'_is_'+name].apply(mf, args=(name_dict[name],))

  return df.drop(columns=[ new_col+'_is_'+name for name,_ in name_list])


onp_df = mapper_func(onp_df, 'data_channel', dcm)

onp_df = mapper_func(onp_df, 'weekday', wm)

onp_df = onp_df.drop(columns=['is_weekend'])

# Remove both non-predictive attributes
onp_df_predictive = onp_df.drop(columns=['url', 'timedelta'])

# Drop the target/goal attribute
onp_df_predictive = onp_df_predictive.drop(columns=['shares'])

display(onp_df_predictive.head(), onp_df_predictive.shape)

   n_tokens_title  n_tokens_content  ...  data_channel  weekday
0            12.0             219.0  ...             2        1
1             9.0             255.0  ...             3        1
2             9.0             211.0  ...             3        1
3             9.0             531.0  ...             2        1
4            13.0            1072.0  ...             5        1

[5 rows x 46 columns]

(39644, 46)

In [21]:
# We now add a new binary valued column popular, with each row having a value
# of 1, if the corresponding shares value >=1400 and 0 otherwise.
onp_df_predictive['popular'] = onp_df.shares >= 1400
onp_df_predictive.popular.value_counts()

True     21154
False    18490
Name: popular, dtype: int64

In [22]:
grouped = onp_df_predictive.groupby(onp_df_predictive.popular)

pop0_df = grouped.get_group(0)

pop1_df = grouped.get_group(1)

display(pop0_df.head(), pop0_df.shape)

display(pop1_df.head(), pop1_df.shape)

   n_tokens_title  n_tokens_content  ...  weekday  popular
0            12.0             219.0  ...        1    False
1             9.0             255.0  ...        1    False
3             9.0             531.0  ...        1    False
4            13.0            1072.0  ...        1    False
5            10.0             370.0  ...        1    False

[5 rows x 47 columns]

(18490, 47)

    n_tokens_title  n_tokens_content  ...  weekday  popular
2              9.0             211.0  ...        1     True
8             11.0              97.0  ...        1     True
10             9.0            1248.0  ...        1     True
11            10.0             187.0  ...        1     True
13             9.0             285.0  ...        1     True

[5 rows x 47 columns]

(21154, 47)

In [32]:
# We run 2 sample t-tests for each attribute between the popular and not popular
# sites to determine the most influential attributes.

# We use a confidence level of 99% = 0.99
# => pvalue = 1 - 0.99 = 0.01

# If the ttest for an issue returns a pvalue < 0.01, then we can reject the 
# Null hypothesis i.e. We can say, with a 99% confidence level, that the 
# attribute has an effect on the popularity of the web site.


issues_diff = []
issues_sim = []
issues_tossup = []

for issue in pop1_df.columns:
  res = stats.ttest_ind(pop1_df[issue], pop0_df[issue])
  if res.pvalue < 0.01:
    issues_diff.append(issue)
  elif res.pvalue > 0.1:
    issues_sim.append(issue)
  else:
    issues_tossup.append(issue)

display(issues_tossup)

if len(issues_diff):
  # These issues have a pvalue < 0.01 i.e. the Null hypothesis can
  # be rejected and they have an effect on the popularity of the 
  # article.
  print('The following attributes do impact popularity:')
  display(issues_diff)

if len(issues_sim) > 0:
  # These issues have a pvalue > 0.1 i.e. the Null hypothesis cannot be 
  # rejected and the difference is not significant at the 90% level.
  print('The following attributes do not impact popularity:')
  display(issues_sim)

[]

The following attributes do impact popularity:

['n_tokens_title',
 'n_tokens_content',
 'num_hrefs',
 'num_self_hrefs',
 'num_imgs',
 'average_token_length',
 'num_keywords',
 'kw_min_min',
 'kw_max_min',
 'kw_avg_min',
 'kw_max_max',
 'kw_avg_max',
 'kw_min_avg',
 'kw_max_avg',
 'kw_avg_avg',
 'self_reference_min_shares',
 'self_reference_max_shares',
 'self_reference_avg_sharess',
 'LDA_00',
 'LDA_01',
 'LDA_02',
 'LDA_03',
 'LDA_04',
 'global_subjectivity',
 'global_sentiment_polarity',
 'global_rate_positive_words',
 'global_rate_negative_words',
 'rate_positive_words',
 'rate_negative_words',
 'avg_positive_polarity',
 'min_positive_polarity',
 'max_positive_polarity',
 'title_subjectivity',
 'title_sentiment_polarity',
 'abs_title_sentiment_polarity',
 'data_channel',
 'weekday',
 'popular']

The following attributes do not impact popularity:

['n_unique_tokens',
 'n_non_stop_words',
 'n_non_stop_unique_tokens',
 'num_videos',
 'kw_min_max',
 'avg_negative_polarity',
 'min_negative_polarity',
 'max_negative_polarity',
 'abs_title_subjectivity']

In [29]:
onp_df_relevant = onp_df_predictive[issues_diff]
display(onp_df_relevant.head(), onp_df_relevant.shape)

   n_tokens_title  n_tokens_content  ...  data_channel  weekday
0            12.0             219.0  ...             2        1
1             9.0             255.0  ...             3        1
2             9.0             211.0  ...             3        1
3             9.0             531.0  ...             2        1
4            13.0            1072.0  ...             5        1

[5 rows x 37 columns]

(39644, 37)

In [30]:
#Let's try some linear regression

X = onp_df_relevant.values

#display(X)

Y = onp_df.shares.values.reshape(-1,1)

#display(Y)

# Calculate Beta Values
beta = np.matmul(np.linalg.inv(np.matmul(X.T, X)), np.matmul(X.T, Y))

#display(beta)

Yc = np.matmul(X, beta)

#display(Yc)

display(np.linalg.norm(Y-Yc))

2289979.548322151